{deps, [
	{ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},
        {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", "master"}},
        {eredis, ".*", {git, "git://github.com/wooga/eredis.git", "master"}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}

]}.

{clean_files, ["ebin/*.beam"]}.

%%{erl_opts, [{parse_transform, lager_transform}]}. 
